// Bacsic color
$black: #000;
$white: #fff;
$gray: #888;
$red: #f91f1f;
$orange: #f28e2d;
$yellow: #f6f617;
$green: #34f61c;
$cyan: #14d7d7;
$blue: #0c38f4;
$violet: #8921f5;
$magenta: #f223f2;
$rose: #ff007d;

// UI color
$primary: #07f;
$secondary: #a1a1a1;
$success: #2a5;
$danger: #d33;
$warning: #fc0;
$light: #eee;
$dark: #333;


// Want more options color?
// See list 33 beautiful color combinations
// source: https://99designs.com/blog/creative-inspiration/color-combinations/

$pink-c1: #e52165;
$raisin-c1: #0d1137;
// The high contrast between these two colors creates a bold, dynamic energy.
// The choice of bright pink evokes fun and youthfulness with a touch of femininity.

$red-c2: #d72631;
$sea-foam-c2: #a2d5c6;
$jade-c2: #077b8a;
$violet-c2: #5c3c92;
// This triadic-based combination presents muted,
// floral colors that bring to mind peace and renewal with a vintage flair.

$yellow-c3:  #e2d810;
$magenta-c3: #d9138a;
$cyan-c3: #12a4d9;
$black-c3: #322e2f;
// they create a color scheme that’s bright, contemporary, and full of life.

$mustard-c4: #f3ca20;
$black-c4: #000000;
// Yellow and black combine to create a feeling that’s masculine, modern, yet approachable.
// This combination also has the cultural connotation of meaning “danger” or “warning.”

$magenta-c5: #cf1578;
$goldenrod-c5: #e8d21d;
$turquoise-c5: #039fbe;
$brick-c5: #b20238;
// This multi-colored combination packs a lot of personality into one palette.
// As the most prominent color, yellow indicates friendliness and accessibility,
// while the accent colors add a tone of playfulness and maturity.

$pink-c6-1: #be1558;
$pink-c6-2: #e75874;
$pink-c6-3: #fbcbc9;
$brown-c6: #322514;
// Pink is modern, youthful and luxurious,
// and using different shades together adds even more motion and depth to the design.
// Combining pink with dark brown adds an important level of contrast and seriousness.

$gold-c7: #ef9d10;
$charcoal-c7: #3b4d61;
$gray-c7: #6b7b8c;
// A perfect combination of sunshine and seriousness.
// The gold evokes nature and cheerfulness,
// which combines perfectly with two different shades of black and grey that add a layer of maturity.

$navy-c8: #1e3d59;
$almond-c8: #f5f0e1;
$red-orange-c8: #ff6e40;
$mango-c8: #ffc13b;
// This color scheme of navy paired with fiery accents conveys trustworthiness and an energetic punch.

$tan-c9: #ecc19c;
$deep-turquoise-c9: #1e847f;
$black-c9: #000;
// This combination brings turquoise to the forefront to showcase its versatility as a color
// that evokes nature and rebirth.

$navy-c10: #26495c;
$ochre-c10: #c4a35a;
$burnt-sienna-c10: #c66b3d;
$light-gray-c10: #e5e5dc;
// Neutral backgrounds help the natural colors of this earth-tone scheme spring off of their packaging.

$mauve-c11: #d9a5b3;
$sapphire-c11: #1868ae;
$powder-blue-c11: #c6d7eb;
// Together, the rich mauve and delicate powder blue of this color combination scream femininity.
// The vibrant sapphire adds a second layer of contemporary chic.

$blue-c12: #408ec6;
$maroon-c12: #7a2048;
$indigo-c12: #1e2761;
// As this color scheme’s central color, blue conveys trust and accountability.
// As the gradient moves towards indigo and maroon, we experience cutting-edge passion.

$raspberry-c13: #8a307f;
$blue-c13-1: #6883bc;
$blue-c13-2: #79a7d3;
// Similar to the palette above, trusted blue forms the foundation of this combination,
// while the pinkish-purple addition of raspberry adds luxurious femininity.

$deep-pine-green-c14: #1d3c45;
$orange-c14: #d2601a;
$light-peach-c14: #fff1e1;
// As one of the least used brand colors, orange truly stands out in a crowd.
// This color invigorates and enlivens.
// Light peach adds a little youth and the deep pine green accents offer some warmth and natural comfort.

$sea-foam-c15: #aed6dc;
$salmon-c15: #ff9a8d;
$navy-c15: #4a536b;
// The perfect beachy palette.
// This pastel combination of sea-foam, salmon and navy showcases everyone’s favorite coastal colors
// and evokes the peacefulness and warmth that comes from a day at the ocean.

$rouge-c16: #da68a0;
$green-c16: #77c593;
$magenta-c16: #ed3572;
// Vibrant femininity, rich luxury and an accent of bold life.
// This brilliant combination packs a lot into just three simple colors
// and livens up any simple black and white design.

$teal-c17: #316879;
$coral-17: #f47a60;
$turquoise-c17: #7fe7dc;
$grey-c17: #ced7d8;
// This complimentary combination blends the peacefulness of blue-greens with little pops of coral passion.
// An elegant grey rounds out the palette.

$fuchsia-c18: #d902ee;
$sepia-c18: #ffd79d;
$hot-pink-c18: #f162ff;
$dark-violet-c18: #320d3e;
// Brilliant warmth brings a golden hour sunset to life in this stunning combination.
// Three shades of different pinks and violets evoke luxury, while the sepia accent adds vintage friendliness.

$light-pink-c19: #ffcce7;
$sage-c19: #daf2dc;
$sky-blue-19: #81b7d2;
$grape-c19: #4d5198;
// These four colors bring to mind the best of beach life.
// Their pastel shades keep their personality young, modern, and lighthearted.

$beige-c20: #ddc3a5;
$black-brown-c20: #201e20;
$tan-c20: #e0a96d;
// Three shades in the brown color family combine into a vintage-inspired palette
// that is both classic and serious, as well as warm and welcoming.

$sepia-c21: #edca82;
$teal-c21: #097770;
$beige-c21: #e0cdbe;
$sage-c21: #a9c0a6;
// Perfect for a food product or restaurant,
// this organic color scheme combines four pastel earth tones to highlight nature and the environment.

$yellow-green-c22: #e1dd72;
$olive-c22: #a8c66c;
$forest-green: #1b6535;
// These three shades of green are the perfect palette for this mint and lime beverage.
// Together, they combine into a brilliant blend of excitement and youthfulness.

$fuchsia-c23: d13ca4;
$yellow-c23: #ffea04;
$magenta-c23: #fe3a9e;
// Modern: check. Young: check. Bold: check, check, check.
// This dynamic color combination doesn’t have to work hard to make an instant first impression.

$mustard-c24: #e3b448;
$sage-c24: #cbd18f;
$forest-green-c24: #3a6b35;
// These three rugged tones hint at wood, trees and leaves—the same natural colors in the product itself.

$beige-c25: #f6ead4;
$slate-c25: #a2a595;
$khaki-c25: #b4a284;
// Two complimentary shades of brown lean masculine.
// An accent of khaki-grey adds a touch of elegance and maturity.

$turquoise-c26: #79cbb8;
$violet-c26: #500472;
// Cool tones don’t have to mean subdued tones.
// This turquoise and violet pairing offers a high-contrast pop of excitement.

$light-pink-c27: #f5beb4;
$green-c27: #9bc472;
$sea-foam-c27: #cbf6db;
// This combination blends natural greens and blues with a feminine,
// pink accent for a feeling of serenity, warmth, and luxury.

$scarlet-c28: #b85042;
$light-olive-c28: #e7e8d1;
$light-teal-c28: #a7beae;
// This combination adds a lot of grey to keep the palette’s personality feeling serious and mysterious.

$red-c29: #d71b3b;
$yellow-c29: #e8d71e;
$cyan-c29: #16acea;
$bright-purple-c29: #4203c9;
// With kid-friendly primary colors, you’ve got a combination that is full of joy, youth, and optimism.

$olive-c30: #829079;
$beige-c30: #ede6b9;
$tan-c30: #b9925e;
// The olive offers a hint of nature. Together, this is a color scheme that conveys grounded maturity.

$green-c31-1: #1fbfb8;
$green-c31-2: #05716c;
$blue-c31-1: #1978a5;
$blue-c31-2: #031163;
// This cool-toned combination still manages to capture a feeling of movement and life due to its high contrast.

$turquoise-c32: #7fc3c0;
$mustard-c31: #cfb845;
$black-c32: #141414;
// This classic pairing of both a cool and warm tone evokes calmness and cheerfulness.
// The black adds a bold, contemporary accent.

$peach-c33: #efb5a3;
$salmon-c33: #f57e7e;
$teal-c33: #315f72;
// Salmon and peach are two shades that complement each other perfectly.
// The teal accent provides a second layer of depth.
