@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 200px;
  color: white;
  }

/* Header */
header {
  margin-top: 0;
  padding-top: 0;
  background: lightblue url("images/your_verse_hero.jpg") 50% 100% no-repeat;
  height: 538px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
/* navbar */
.navbar {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  margin-top: 20px;
}

.navbar li {
  background: linear-gradient(to bottom, #8a8a8a , #686868 50%, #595959 50%, #757575 100%);
  height: 35px;
  width: 110px;
  position: relative;
  border-right: 0.1px solid #565656;
  color: white;
  font-size: 14px;
}

.navbar li:hover {
  background: rgb(78, 78, 77);
}

.navbar li:last-child:hover {
  background: linear-gradient(to bottom, #8a8a8a , #686868 50%, #595959 50%, #757575 100%);
}
.navbar li span {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.navbar li:first-child {
  border-radius: 5px 0 0 5px;
  font-size: 20px;
  color: #c6c6c6;
}

.navbar li:last-child {
  border-radius: 0 5px 5px 0;
  width: 200px;
}

.navbar li:last-child input {
  box-sizing: border-box;
  border-radius: 10px;
  height: 20px;
  width: 150px;
  padding: 2px 22px;
  margin: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  background: linear-gradient(to bottom, #9e9c9c , #757575 50%, #636262 50%, #757575 100%);
  border-color: gray;
}

.navbar li:last-child input:focus {
  background:  white;
}

.navbar li:last-child i {
  position: absolute;
  transform: translate(-67px, -50%);
  font-size: 1em;
  color: darkgray;
}

header > section {
  margin: auto auto;
  width: 900px;
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  color: white;
}

header section:hover {
  cursor: pointer;
}

section > .title {
  font-size: 4em;
  font-weight: 200;
  margin: 20px auto 5px;
}

section > .sub-headline {
  font-size: 2em;
  font-weight: 200;
  text-align: center;
}

section > .verse {
  font-size: 1.5em;
  font-weight: 200;
  color: inherit;
  text-decoration: none;
}

section > .verse:hover {
  text-decoration: underline;
}

/* main */
main {
  display: inline-flex;
  flex-flow: row nowrap;
  width: 100%;
}
 main div {
   width: 25%;
   height: auto;
   padding: 1px;
 }

 main div img {
   width: 100%;
   height: auto;
 }

 main div:hover {
   cursor: pointer;
 }

 /* footer */
 footer {
   color: rgb(83, 82, 81);
   font-size: 0.6em;
   display: flex;
   width: 980px;
   margin: 20px auto;

 }

footer div {
  width: 50%;
}

footer div a {
  color: rgb(72, 160, 224);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer div p {
  line-height: 3em;
  padding: 0;
  margin: 0;
}

.nav-footer {
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}

.nav-footer li {
  padding: 8px 2px;
}
