* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.ff-lvl-1 {
  font-family: 'Fire Sans', sans-serif;
}

.ff-lvl-2 {
  font-family: 'Orbitron', sans-serif;
}

.ff-lvl-3 {
  /* font-family: 'Overpass', sans-serif; */
  font-family: 'Oswald', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

a:hover {
  text-decoration: underline;
}

time {
  font: inherit
}
