* {
  box-sizing: border-box; }

body {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  margin: 15px auto;
  padding: 10px;
  font-weight: bold; }

p {
  margin: 30px auto;
  padding: 15px;
  line-height: 1em;
  font-size: 1.5em;
  font-weight: normal;
  color: inherit; }

ul {
  list-style: none; }

a {
  font-size: inherit;
  color: inherit;
  font-weight: inherit;
  text-decoration: none; }

a:hover {
  color: #07f;
  text-decoration: underline; }

.f-row {
  flex-direction: row; }

.f-col {
  flex-direction: column; }

.f-nowrap {
  flex-wrap: nowrap; }

.f-wrap {
  flex-wrap: wrap; }

.f-c-center {
  justify-content: center; }

.f-c-start {
  justify-content: flex-start; }

.f-c-end {
  justify-content: flex-end; }

.f-c-around {
  justify-content: space-around; }

.f-c-between {
  justify-content: space-between; }

.f-i-baseline {
  align-items: baseline; }

.f-i-center {
  align-items: center; }

.f-i-end {
  align-items: flex-end; }

.f-i-start {
  align-items: flex-start; }

.f-i-stretch {
  align-items: stretch; }

.f-s-baseline {
  align-self: baseline; }

.f-s-center {
  align-self: center; }

.f-s-end {
  align-self: flex-end; }

.f-s-start {
  align-self: flex-start; }

.f-s-stretch {
  align-self: stretch; }

.container {
  width: 100%;
  height: auto;
  margin: 30px auto;
  padding: 0; }

.row {
  width: 100%;
  height: auto;
  margin: 10px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap; }

.col {
  width: auto;
  min-width: 8.3333333333%;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 10px 0;
  padding: 10px; }

.col-1 {
  width: 7.3333333333%;
  margin: 10px auto;
  padding: 5px; }

.col-2 {
  width: 14.6666666667%;
  margin: 10px auto;
  padding: 5px; }

.col-3 {
  width: 22%;
  margin: 10px auto;
  padding: 5px; }

.col-4 {
  width: 29.3333333333%;
  margin: 10px auto;
  padding: 5px; }

.col-5 {
  width: 36.6666666667%;
  margin: 10px auto;
  padding: 5px; }

.col-6 {
  width: 44%;
  margin: 10px auto;
  padding: 5px; }

.col-7 {
  width: 51.3333333333%;
  margin: 10px auto;
  padding: 5px; }

.col-8 {
  width: 58.6666666667%;
  margin: 10px auto;
  padding: 5px; }

.col-9 {
  width: 66%;
  margin: 10px auto;
  padding: 5px; }

.col-10 {
  width: 73.3333333333%;
  margin: 10px auto;
  padding: 5px; }

.col-11 {
  width: 80.6666666667%;
  margin: 10px auto;
  padding: 5px; }

.col-12 {
  width: 88%;
  margin: 10px auto;
  padding: 5px; }

@media screen and (max-width: 479px) {
  .container {
    max-width: 100%; } }
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px; }

  .col-sm-1 {
    width: 0px;
    margin: 10px;
    padding: 5px; }

  .col-sm-2 {
    width: 40px;
    margin: 10px;
    padding: 5px; }

  .col-sm-3 {
    width: 80px;
    margin: 10px;
    padding: 5px; }

  .col-sm-4 {
    width: 120px;
    margin: 10px;
    padding: 5px; }

  .col-sm-5 {
    width: 160px;
    margin: 10px;
    padding: 5px; }

  .col-sm-6 {
    width: 200px;
    margin: 10px;
    padding: 5px; }

  .col-sm-7 {
    width: 240px;
    margin: 10px;
    padding: 5px; }

  .col-sm-8 {
    width: 280px;
    margin: 10px;
    padding: 5px; }

  .col-sm-9 {
    width: 320px;
    margin: 10px;
    padding: 5px; }

  .col-sm-10 {
    width: 360px;
    margin: 10px;
    padding: 5px; }

  .col-sm-11 {
    width: 400px;
    margin: 10px;
    padding: 5px; }

  .col-sm-12 {
    width: 440px;
    margin: 10px;
    padding: 5px; } }
@media screen and (min-width: 720px) {
  .container {
    max-width: 720px; }

  .col-md-1 {
    width: 20px;
    margin: 10px;
    padding: 10px; }

  .col-md-2 {
    width: 80px;
    margin: 10px;
    padding: 10px; }

  .col-md-3 {
    width: 140px;
    margin: 10px;
    padding: 10px; }

  .col-md-4 {
    width: 200px;
    margin: 10px;
    padding: 10px; }

  .col-md-5 {
    width: 260px;
    margin: 10px;
    padding: 10px; }

  .col-md-6 {
    width: 320px;
    margin: 10px;
    padding: 10px; }

  .col-md-7 {
    width: 380px;
    margin: 10px;
    padding: 10px; }

  .col-md-8 {
    width: 440px;
    margin: 10px;
    padding: 10px; }

  .col-md-9 {
    width: 500px;
    margin: 10px;
    padding: 10px; }

  .col-md-10 {
    width: 560px;
    margin: 10px;
    padding: 10px; }

  .col-md-11 {
    width: 620px;
    margin: 10px;
    padding: 10px; }

  .col-md-12 {
    width: 680px;
    margin: 10px;
    padding: 10px; } }
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px; }

  .col-lg-1 {
    width: 45.3333333333px;
    margin: 10px;
    padding: 10px; }

  .col-lg-2 {
    width: 130.6666666667px;
    margin: 10px;
    padding: 10px; }

  .col-lg-3 {
    width: 216px;
    margin: 10px;
    padding: 10px; }

  .col-lg-4 {
    width: 301.3333333333px;
    margin: 10px;
    padding: 10px; }

  .col-lg-5 {
    width: 386.6666666667px;
    margin: 10px;
    padding: 10px; }

  .col-lg-6 {
    width: 472px;
    margin: 10px;
    padding: 10px; }

  .col-lg-7 {
    width: 557.3333333333px;
    margin: 10px;
    padding: 10px; }

  .col-lg-8 {
    width: 642.6666666667px;
    margin: 10px;
    padding: 10px; }

  .col-lg-9 {
    width: 728px;
    margin: 10px;
    padding: 10px; }

  .col-lg-10 {
    width: 813.3333333333px;
    margin: 10px;
    padding: 10px; }

  .col-lg-11 {
    width: 898.6666666667px;
    margin: 10px;
    padding: 10px; }

  .col-lg-12 {
    width: 984px;
    margin: 10px;
    padding: 10px; } }
.no-gutters .row {
  margin: 0; }
.no-gutters [class*="col-"] {
  margin: 0; }

.btn, botton {
  display: inline-block;
  padding: 10px 5px;
  margin: 5px; }

.d-none {
  display: none; }

.d-block {
  display: block; }

.d-inline {
  display: inline; }

.d-flex {
  display: flex; }

.d-inline-block {
  display: inline-block; }

.d-inline-flex {
  display: inline-flex; }

@media screen and (min-width: 480px) {
  .d-sm-none {
    display: none; }

  .d-sm-block {
    display: block; }

  .d-sm-inline {
    display: inline; }

  .d-sm-flex {
    display: flex; }

  .d-sm-inline-block {
    display: inline-block; }

  .d-sm-inline-flex {
    display: inline-flex; } }
@media screen and (min-width: 720px) {
  .d-md-none {
    display: none; }

  .d-md-block {
    display: block; }

  .d-md-inline {
    display: inline; }

  .d-md-flex {
    display: flex; }

  .d-md-inline-block {
    display: inline-block; }

  .d-md-inline-flex {
    display: inline-flex; } }
@media screen and (min-width: 1024px) {
  .d-lg-none {
    display: none; }

  .d-lg-block {
    display: block; }

  .d-lg-inline {
    display: inline; }

  .d-lg-flex {
    display: flex; }

  .d-lg-inline-block {
    display: inline-block; }

  .d-lg-inline-flex {
    display: inline-flex; } }
.w-25 {
  display: block;
  width: 25%; }

.w-50 {
  display: block;
  width: 50%; }

.w-75 {
  display: block;
  width: 75%; }

.w-100 {
  display: block;
  width: 100%; }

.text-black {
  color: #000; }

.bg-black {
  background-color: #000; }

.text-white {
  color: #fff; }

.bg-white {
  background-color: #fff; }

.text-gray {
  color: #888; }

.bg-gray {
  background-color: #888; }

.text-red {
  color: #f91f1f; }

.bg-red {
  background-color: #f91f1f; }

.text-orange {
  color: #f28e2d; }

.bg-orange {
  background-color: #f28e2d; }

.text-yellow {
  color: #f6f617; }

.bg-yellow {
  background-color: #f6f617; }

.text-green {
  color: #34f61c; }

.bg-green {
  background-color: #34f61c; }

.text-cyan {
  color: #14d7d7; }

.bg-cyan {
  background-color: #14d7d7; }

.text-blue {
  color: #0c38f4; }

.bg-blue {
  background-color: #0c38f4; }

.text-violet {
  color: #8921f5; }

.bg-violet {
  background-color: #8921f5; }

.text-magenta {
  color: #f223f2; }

.bg-magenta {
  background-color: #f223f2; }

.text-rose {
  color: #ff007d; }

.bg-rose {
  background-color: #ff007d; }

.text-light {
  color: #eee; }

.bg-light {
  background-color: #eee; }

.text-dark {
  color: #333; }

.bg-dark {
  background-color: #333; }

.text-primary {
  color: #07f; }

.bg-primary {
  background-color: #07f; }

.text-secondary {
  color: #a1a1a1; }

.bg-secondary {
  background-color: #a1a1a1; }

.text-success {
  color: #2a5; }

.bg-success {
  background-color: #2a5; }

.text-danger {
  color: #d33; }

.bg-danger {
  background-color: #d33; }

.text-warning {
  color: #fc0; }

.bg-warning {
  background-color: #fc0; }

.text-right {
  text-align: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-uppercase {
  text-transform: uppercase; }

.text-lowercase {
  text-transform: lowercase; }

.text-capitalize {
  text-transform: capitalize; }

.text-lighter {
  font-weight: lighter; }

.text-normal {
  font-weight: normal; }

.text-bold {
  font-weight: bold; }

.text-bolder {
  font-weight: bolder; }

.text-xx-small {
  font-size: xx-small; }

.text-x-small {
  font-size: x-small; }

.text-small {
  font-size: small; }

.text-medium {
  font-size: medium; }

.text-large {
  font-size: large; }

.text-x-large {
  font-size: x-large; }

.text-xx-large {
  font-size: xx-large; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-light {
  border-color: #eee; }

.border-dark {
  border-color: #333; }

.border-primary {
  border-color: #07f; }

.border-secondary {
  border-color: #a1a1a1; }

.border-success {
  border-color: #2a5; }

.border-danger {
  border-color: #d33; }

.border-warning {
  border-color: #fc0; }

.border-50 {
  border-radius: 50%; }

.border-pill {
  border-radius: 1000px / 10000px; }

.border-0 {
  border-radius: 0; }

.border-1 {
  border-radius: 5px; }

.border-2 {
  border-radius: 15px; }

.border-3 {
  border-radius: 30px; }

.border-4 {
  border-radius: 50px; }

.border-solid, .btn, botton, .border-light, .border-dark, .border-primary, .border-secondary, .border-success, .border-danger, .border-warning {
  border-style: solid; }

.border-none {
  border-style: none; }

.margin-0 {
  margin: 0; }

.padding-0 {
  padding: 0; }

.margin-1 {
  margin: 5px; }

.padding-1 {
  padding: 5px; }

.margin-2 {
  margin: 15px; }

.padding-2 {
  padding: 15px; }

.margin-3 {
  margin: 30px; }

.padding-3 {
  padding: 30px; }

.margin-4 {
  margin: 50px; }

.padding-4 {
  padding: 50px; }

.margin-auto {
  margin: auto; }

.margin-x-0 {
  margin-left: 0;
  margin-right: 0; }

.padding-x-0 {
  padding-left: 0;
  padding-right: 0; }

.margin-x-1 {
  margin-left: 5px;
  margin-right: 5px; }

.padding-x-1 {
  padding-left: 5px;
  padding-right: 5px; }

.margin-x-2 {
  margin-left: 15px;
  margin-right: 15px; }

.padding-x-2 {
  padding-left: 15px;
  padding-right: 15px; }

.margin-x-3 {
  margin-left: 30px;
  margin-right: 30px; }

.padding-x-3 {
  padding-left: 30px;
  padding-right: 30px; }

.margin-x-4 {
  margin-left: 50px;
  margin-right: 50px; }

.padding-x-4 {
  padding-left: 50px;
  padding-right: 50px; }

.margin-x-auto {
  margin-left: auto;
  margin-right: auto; }

.margin-y-0 {
  margin-top: 0;
  margin-bottom: 0; }

.padding-y-0 {
  padding-top: 0;
  padding-bottom: 0; }

.margin-y-1 {
  margin-top: 5px;
  margin-bottom: 5px; }

.padding-y-1 {
  padding-top: 5px;
  padding-bottom: 5px; }

.margin-y-2 {
  margin-top: 15px;
  margin-bottom: 15px; }

.padding-y-2 {
  padding-top: 15px;
  padding-bottom: 15px; }

.margin-y-3 {
  margin-top: 30px;
  margin-bottom: 30px; }

.padding-y-3 {
  padding-top: 30px;
  padding-bottom: 30px; }

.margin-y-4 {
  margin-top: 50px;
  margin-bottom: 50px; }

.padding-y-4 {
  padding-top: 50px;
  padding-bottom: 50px; }

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto; }

.margin-t-0 {
  margin-top: 0; }

.padding-t-0 {
  padding-top: 0; }

.margin-t-1 {
  margin-top: 5px; }

.padding-t-1 {
  padding-top: 5px; }

.margin-t-2 {
  margin-top: 15px; }

.padding-t-2 {
  padding-top: 15px; }

.margin-t-3 {
  margin-top: 30px; }

.padding-t-3 {
  padding-top: 30px; }

.margin-t-4 {
  margin-top: 50px; }

.padding-t-4 {
  padding-top: 50px; }

.margin-t-auto {
  margin-top: auto; }

.margin-r-0 {
  margin-right: 0; }

.padding-r-0 {
  padding-right: 0; }

.margin-r-1 {
  margin-right: 5px; }

.padding-r-1 {
  padding-right: 5px; }

.margin-r-2 {
  margin-right: 15px; }

.padding-r-2 {
  padding-right: 15px; }

.margin-r-3 {
  margin-right: 30px; }

.padding-r-3 {
  padding-right: 30px; }

.margin-r-4 {
  margin-right: 50px; }

.padding-r-4 {
  padding-right: 50px; }

.margin-r-auto {
  margin-right: auto; }

.margin-b-0 {
  margin-bottom: 0; }

.padding-b-0 {
  padding-bottom: 0; }

.margin-b-1 {
  margin-bottom: 5px; }

.padding-b-1 {
  padding-bottom: 5px; }

.margin-b-2 {
  margin-bottom: 15px; }

.padding-b-2 {
  padding-bottom: 15px; }

.margin-b-3 {
  margin-bottom: 30px; }

.padding-b-3 {
  padding-bottom: 30px; }

.margin-b-4 {
  margin-bottom: 50px; }

.padding-b-4 {
  padding-bottom: 50px; }

.margin-b-auto {
  margin-bottom: auto; }

.margin-l-0 {
  margin-left: 0; }

.padding-l-0 {
  padding-left: 0; }

.margin-l-1 {
  margin-left: 5px; }

.padding-l-1 {
  padding-left: 5px; }

.margin-l-2 {
  margin-left: 15px; }

.padding-l-2 {
  padding-left: 15px; }

.margin-l-3 {
  margin-left: 30px; }

.padding-l-3 {
  padding-left: 30px; }

.margin-l-4 {
  margin-left: 50px; }

.padding-l-4 {
  padding-left: 50px; }

.margin-l-auto {
  margin-left: auto; }

.overflow-visible {
  overflow: visible; }

.overflow-hidden {
  overflow: hidden; }

.overflow-scroll {
  overflow: scroll; }

.overflow-auto {
  overflow: auto; }

.overflow-inherit {
  overflow: inherit; }

.position-static {
  position: static; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.position-fixed {
  position: fixed;
  top: 0; }

.top-0 {
  top: 0px; }

.top-1 {
  top: 1px; }

.top-2 {
  top: 2px; }

.top-3 {
  top: 3px; }

.top-4 {
  top: 4px; }

.left-0 {
  left: 0px; }

.left-1 {
  left: 1px; }

.left-2 {
  left: 2px; }

.left-3 {
  left: 3px; }

.left-4 {
  left: 4px; }

.bottom-0 {
  bottom: 0px; }

.bottom-1 {
  bottom: 1px; }

.bottom-2 {
  bottom: 2px; }

.bottom-3 {
  bottom: 3px; }

.bottom-4 {
  bottom: 4px; }

.right-0 {
  right: 0px; }

.right-1 {
  right: 1px; }

.right-2 {
  right: 2px; }

.right-3 {
  right: 3px; }

.right-4 {
  right: 4px; }

/*# sourceMappingURL=styles.css.map */
