/* Header */
header {
  display: flex;
  justify-content: space-between;
}

li {
  list-style: none;
}

.courses {
  display: flex;
}

.course {
  position: relative;
  display: inline-block;
}

.btn-course {
  padding: 10px;
  text-align: center;
  background-color: silver;
  border: none;
  width: 160px;
  color: white;
}

.btn-course:hover {
  background-color: gray;
}

.course-content {
  position: absolute;
  width: 100%;
  box-shadow: 0 18px 36px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.visible-content {
  display: block;
}

.course:hover > .course-content {
  opacity: 1;
}

.course-content > a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: black;
}
